@model BusinessesInterface.Models.Address

@{
    ViewBag.Title = "List of Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please Choose An Action</h2>

<div>
  @Html.ActionLink("Recent History", "ShowRecent")
</div>
<div>
  @Html.ActionLink("All History", "ShowAll")
</div>
<div>
  @Html.ActionLink("Results By Socket Number", "SearchSocket")
</div>
<div>
  @Html.ActionLink("Results By Specific Date", "SearchDate")
</div>
<div>
  @Html.ActionLink("Results Since Date", "SearchSinceDate")
</div>
<div>
  @Html.ActionLink("Sockets-Tables View", "ShowTablesMap")
</div>
<script src="~/bundles/jqueryval"></script>
