@model BusinessesInterface.Models.Address

@{
    ViewBag.Title = "List of Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usage History</h2>

<table class="table">
    <tr>
        <th>
            @Html.LabelForModel("Socket Number")
        </th>
        <th>
           @Html.LabelForModel("Time Stamp")
        </th>
        <th></th>
    </tr>

    @foreach (var device in Model.Devices)
    {

        @foreach(var time in device.HistoryDateTime)
        {
        <tr>
        <td>
        @Html.DisplayFor(modelItem => device.Id)
        </td>
         <td>
        @Html.DisplayFor(modelItem => time)
        </td>
        </tr>
        }
    }
        <tr>
        <th>
            @Html.LabelForModel("Over All Usage")
        </th>
        <td>
            @Html.DisplayFor(modelItem => Model.OverAllUsage)
        </td>
        </tr>

</table>


<div>
  @Html.ActionLink("Results By Socket Number", "SearchSocket")
</div>
<div>
  @Html.ActionLink("Results By Specific Date", "SearchDate")
</div>
<div>
  @Html.ActionLink("Results Since Date", "SearchSinceDate")
</div>
<script src="~/bundles/jqueryval"></script>
