@model IEnumerable<BusinessesInterface.Models.Address>

@{
    ViewBag.Title = "List of Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usage History</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Devices)
        </th>
        <th></th>
    </tr>

    @foreach (var usage in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => usage.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => usage.AddressName)
    </td>
        <td>
        @Html.DisplayFor(modelItem => usage.Devices)
    </td>
</tr>
    }

</table>

